<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" color="light" (click)=cerrarChat()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-avatar slot="start" class="avatar">
      <ion-img [src]="urlAvatar">
      </ion-img>
    </ion-avatar>
    <ion-title>{{pilot.usuario.persona.nombres}} {{pilot.usuario.persona.apellidos}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div class="chat-container">
    <div *ngFor="let item of mensajes" class="chat-bubble" [(ngClass)]="item.type">
      <h6>{{ item.mensaje }}</h6>
      <p>{{ item.createdAt | date :'shortTime' }}</p>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="texto" autofocus="true" color="primary" placeholder="Escribe un mensaje">
    </ion-textarea>
 
      <ion-icon mode="ios" name="send" class="text-primary" (click)="enviarMensaje()"></ion-icon>

  </ion-item>
</ion-footer>