<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list>

    <div *ngIf="viajes.length > 0">

      <ion-item-sliding   *ngFor="let item of viajes">

        <ion-item (click)="abrirChat(item)">
          <ion-avatar slot="start">
            <img [src]="urlAvatar">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.vehiculo.piloto.usuario.persona.nombres}} {{item.vehiculo.piloto.usuario.persona.apellidos}}</b></h2>
            <p>Desde: {{item.latA | number:'1.2-4'}}, {{item.lngA | number:'1.2-4'}}</p>
            <p>Hasta: {{item.latB | number:'1.2-4'}}, {{item.lngB | number:'1.2-4'}}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="light" (click)="repetirViaje(item)">Repetir <ion-icon name="car"
              style="padding-left: 5px;"></ion-icon>
          </ion-item-option>
          <ion-item-option color="primary" (click)="verPerfilPiloto(item)">Perfil <ion-icon name="person"
            style="padding-left: 5px;"></ion-icon>
        </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>

     

    </div>

    <div *ngIf="viajes.length == 0" class="ion-padding">
      <p>{{mensajeMostrarLista}}</p>
    </div>
  </ion-list>

</ion-content>
