<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- Default Segment -->
  <!-- Label only -->
  <ion-segment (ionChange)="segmentChanged($event)" value="pendientes">
    <ion-segment-button value="pendientes">
      <ion-label>Pendientes</ion-label>
      <ion-icon name="alarm"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="historial">
      <ion-label>Historial</ion-label>
      <ion-icon name="pulse"></ion-icon>
    </ion-segment-button>
  </ion-segment>



  <ion-list>

    <div *ngIf="viajes.length > 0">

      <ion-item-sliding   *ngFor="let item of viajes">

        <ion-item (click)="abrirChat(item)">
          <ion-avatar slot="start">
            <img [src]="urlAvatar">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.pasajero.persona.nombres}} {{item.pasajero.persona.apellidos}}</b></h2>
            <p>Desde: {{item.latA | number:'1.2-4'}}, {{item.lngA | number:'1.2-4'}}</p>
            <p>Hasta: {{item.latB | number:'1.2-4'}}, {{item.lngB | number:'1.2-4'}}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="verPerfilUsuario(item)">Perfil <ion-icon name="person"
            style="padding-left: 5px;"></ion-icon>
        </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>

     

    </div>

    <div *ngIf="viajes.length == 0" class="ion-padding">
      <p>{{mensajeMostrarLista}}</p>
    </div>
  </ion-list>


</ion-content>