<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

    <div>

      <ion-item>
        <ion-label position="floating">Correo: </ion-label>
        <ion-input type="email" name="email" formControlName="email"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Contraseña: </ion-label>
        <ion-input [type]="passwordTypeInput" formControlName="password"> </ion-input>
        <ion-button fill="clear" item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon *ngIf="passwordTypeInput === 'password'" name="eye"></ion-icon>
          <ion-icon *ngIf="passwordTypeInput === 'text'" name="eye-off"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Recordar mis datos</ion-label>
        <ion-toggle name="recordar" formControlName="recordar"></ion-toggle>
      </ion-item>

      <br>

      <ion-button color="primary" expand="block" class="btn-iniciar" type="submit" [disabled]="!loginForm.valid">Entrar
      </ion-button>
      <br>
      <p class="ion-text-center" (click)="modalRegistro()" color="primary"> <b>Registrarse</b> </p>
      <p class="ion-text-center" color="primary"> Olvidé mi contraseña </p>

    </div>


  </form>


</ion-content>