<ion-header>
  <ion-toolbar>
    <ion-button slot="end" fill="clear" color="dark" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="config">Configuraciones</ion-title>
    <ion-title *ngIf="foto">Foto del perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="config">

    <ion-list>
      <ion-item>
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>
          Notificaciones
        </ion-label>
        <ion-toggle color="primary" [checked]="checkedNotificaciones" (ionChange)="cambiar()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="isPiloto">
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-label>
          Modo piloto
        </ion-label>
        <ion-toggle color="primary" [checked]="piloto.activo" (click)="cambiarModoPiloto()"></ion-toggle>
      </ion-item>


    </ion-list>

  </div>


  <div *ngIf="foto">

    <div style="padding-left: 20px;">
      <ion-row>

        <ion-col>
          <div>
            <ion-avatar class="centrar ion-activatable" (click)="eliminarFoto()">
              <img src="../../../../assets/icon/delete.svg">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-avatar>
            <div style="margin-top: -10px;">
              <ion-text>
                <p>Eliminar</p>
              </ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-avatar class="centrar ion-activatable" (click)="abrirGaleria()">
              <img src="../../../../assets/icon/galeria.svg">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-avatar>
            <div style="margin-top: -10px;">
              <ion-text>
                <p>Galería</p>
              </ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-avatar class="centrar ion-activatable" (click)="abrirCamara()">
              <img src="../../../../assets/icon/camera.svg">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-avatar>
            <div style="margin-top: -10px;">
              <ion-text>
                <p>Cámara</p>
              </ion-text>
            </div>
          </div>
        </ion-col>

      </ion-row>







    </div>

  </div>

</ion-content>