<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" color="light" (click)=cerrarChat()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-avatar slot="start" class="avatar">
      <ion-img [src]="urlAvatar">
      </ion-img>
    </ion-avatar>
    <ion-title>{{pilot.usuario.persona.nombres}} {{pilot.usuario.persona.apellidos}}</ion-title>
  </ion-toolbar>
</ion-header>