<a class="notification" (click)="presionarNotification()" button>
  <ion-icon name="notifications" class="icon" ></ion-icon>
  <span class="badge" *ngIf="notification.count > 0">{{
    notification.count
  }}</span>
</a>
