.icon {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    display: block;
  }

  .notification {
    color: white;
    text-decoration: none;
    padding: 10px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .badge {
    position: absolute;
    top: -7px;
    border-radius: 50%;
    background: red;
    padding-top: 0.5px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    font-size: 0.6rem;
    font-weight: 900;
    
  }