.bg {
    --background: rgba(var(--ion-color-primary-rgb), 0.05);
}
.bg-secondary {
    --background: rgba(var(--ion-color-secondary-rgb), 0.05);
}
.bg-white {
    background: #FFF;
}

.header-md::after, .header-ios::after {
    background-image: none !important;
}

.header .toolbar .toolbar-content .toolbar-title {
    align-items: center;
}

.app-list {

    margin-top: 7px !important;
    padding: 5px;
    background: none;

    .item {

        border-radius: 10px;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        margin-bottom: 5px;

        ion-avatar {
            height: 60px;
            width: 60px;
        }

        p[item-end] {
            text-align: right;
            color: #CFCFCF;
        }

    }

}

.chat-bubble {
    width: auto;
    max-width: 75%;
    min-width: 25%;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 5px;
    display: block;
    clear: both;
    position: relative;
    margin-bottom: 0;

    &.received {
        background: #FFF;
        float: left;
        text-align: right;

        h6 {
            margin: 0;
            font-weight: 400;
            font-size: 0.9rem;
            padding-right: 55px;
        }
        
    }

    &.send {
        background: var(--ion-color-primary);
        float: right;
        text-align: right;
        color: #fff;

        h6 { 
            margin: 0;
            font-weight: 400;
            font-size: 0.9rem;
            padding-right: 55px;
        }
        
    }

    
    p {
        margin: 0;
        margin-top: -10px;
        font-size: 0.7rem;
        opacity: .4;
    }

}

.chat-container {
    height: calc(100% - 60px);
    overflow: scroll
}
.chat-controls {
    background: #FFF;
    padding: 3px 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 43px 5px rgba(98,98,98,.1);
    z-index: 9;

    .option {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s;
        transition: all .3s;

        ion-col {
            color: var(--ion-color-primary);
            margin-bottom: 15px;
            font-size: 1rem;
            font-weight: 400;
        }
        ion-icon::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 3rem;
            line-height: 65px;
        }
        ion-icon {
            color: var(--ion-color-primary);
            display: block;
            width: 25px;
            height: 25px;
            background: #f3f9f5;
            border-radius: 50px;
            margin: auto;
            margin-bottom: auto;
            padding: 15px;
            position: relative;
            margin-bottom: 7px;
        }
    }
    &.active {
        .option {
            height: 230px;
            transition: all .3s;
        }
    }

    ion-row ion-col {
        ion-list {
            margin: 0 -2px;

            ion-item {
                border-radius: 7px;
                --background: #fff;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border-bottom: none !important;
            }
        }

        p {
            border-radius: 7px;
            font-size: 14pt;
            margin: 0;
            line-height: 44px;
            height: 44px;
            color: #bcbcbc;
            min-width: 20px;
            overflow: hidden;

            ion-icon {
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 2.5rem;
                color: #828282;
                margin-top: 11px;
                color: #828282;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    } 
    
}

.contact-avatar {
    height: 40px;
    width: 40px;
}

.login-form {
    width: 75%;
    margin: auto;

    ion-list {
        background: none;
        ion-item {
            background: rgba(var(--ion-color-primary-rgb), 0.05);
            --background: none;
            border-radius: 10px;
            padding: 3px 20px !important;
            margin-bottom: 20px;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;

            .item-native {
                --background: none !important;
            }

            & ion-select-option{
                margin-left: auto;
                max-width: unset;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;

                .select {
                    max-width: 100%;
                    .select-text {
                        font-size: 1.35rem;
                    }
                }
            }
            &.item-input {
                .text-input::placeholder {
                    color: #78927e !important;
                    font-size: 1.3rem;
                }
            }

            .label {
                font-size: 1.35rem;
                font-weight: 400;
                color: #78927e;
                flex: unset;
            }
        }
    }
}
.logo-box {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;

    img {
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.profile-image {
    width: 70px !important;
    height: 70px !important;
}
.contact-profile-img {
    background-color: #000;
    img {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }
}

.text-primary {color: var(--ion-color-primary) !important;}
.text-secondary {color: var(--ion-color-secondary) !important;}
.text-danger {color: var(--ion-color-danger) !important;}
.text-muted {color: #999;}