<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="slideOpts" #slideNav>

    <ion-slide>

      <div>
        <div class="slide" style="margin: 20px;">
          <ion-text style="font-size: large; ">
            Por favor ingresa tus datos personales.
          </ion-text>
        </div>
        <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">

          <ion-item>
            <ion-label position="floating">Nombres: </ion-label>
            <ion-input type="text" name="nombres" formControlName="nombres"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos: </ion-label>
            <ion-input type="text" name="apellidos" formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dirección: </ion-label>
            <ion-input type="text" name="direccion" formControlName="direccion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono: </ion-label>
            <ion-input type="text" name="telefono" formControlName="telefono"></ion-input>
          </ion-item>
        </form>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <div style="margin: 20px;">
          <ion-text style="font-size: large; ">
            Felicidades <b>{{mPersona.nombres}},</b>
            ahora ingresa tu email y una contraseña para iniciar sesión.
          </ion-text>
        </div>
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

          <ion-item>
            <ion-label position="floating">Correo electrónico: </ion-label>
            <ion-input type="text" name="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña: </ion-label>
            <ion-input type="password" name="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repite la contraseña: </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </form>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <div style="margin: 20px;">
          <ion-text style="font-size: large; ">
            <h2>Antes de comenzar</h2>
            <p> Ahora estás registrado como usuario, podrás
              usar la aplicación normalmente, sin embargo, si deseas acceder como piloto debes
              proporcionar datos adicionales.</p>
          </ion-text>
          <ion-button fill="clear" (click)="slideToFinish(sliderThree,slideNav)">Omitir<ion-icon slot="end"
              name="arrow-forward"></ion-icon>
          </ion-button>

          <ion-item>
            <ion-label>
              Registrarme como piloto
            </ion-label>
            <ion-toggle color="primary" [(ngModel)]="serPiloto"></ion-toggle>
          </ion-item>
          
        </div>
      </div>

    </ion-slide>

    <ion-slide>
      <form [formGroup]="pilotoForm" (ngSubmit)="onSubmit()">

        <ion-item>
          <ion-label>
            Poseo licencia vigente
          </ion-label>
          <ion-toggle color="primary" name="licencia" formControlName="licencia"></ion-toggle>
        </ion-item>

      </form>
    </ion-slide>

    <ion-slide>
      <h2>¡Listo!</h2>
      <p>Hemos finalizado el proceso de registro.</p>
      <ion-button fill="clear" (click)="finalizar()">Ir a la aplicación.<ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>



  </ion-slides>

</ion-content>
<div style="margin-bottom: 20px;" class="text-center">

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button shape="round" (click)="slidePrev(sliderThree,slideNav)" *ngIf="registerPersona">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!registerUsuario" shape="round" (click)="slideNext(sliderThree,slideNav)">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>

        <ion-button *ngIf="serPiloto" shape="round" (click)="slideNext(sliderThree,slideNav)">
          Registrar piloto
        </ion-button>

        <ion-button *ngIf="btnFinalizar" shape="round" (click)="registrarPiloto(sliderThree,slideNav)">
          Finalizar
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="slideNext(sliderThree,slideNav)">
    <ion-fab-button>
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->

</div>