<ion-icon name="notifications" id="content"></ion-icon>

<ion-menu contentId="content" side="end" icon="notifications">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div *ngFor="let p of pages">
            <!-- Standard Menu Item -->
            <ion-menu-toggle>
                <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active" (click)="accion(p)">
                    <ion-icon [name]="p.icon" slot="start"></ion-icon>
                    <ion-label>
                        {{ p.title }}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <!-- Item with Children -->
            <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
                <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
                <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <!-- Children List for clicked Item -->
            <ion-list *ngIf="p.open">
                <ion-menu-toggle>
                    <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                        <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        <ion-label>
                            {{ sub.title }}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </div>
    </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="mapa">
            <ion-icon name="map"></ion-icon>
            <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="!isPiloto" tab="activos">
            <ion-icon name="car"></ion-icon>
            <ion-label>Activos</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="isPiloto" tab="p-viajes">
            <ion-icon name="car"></ion-icon>
            <ion-label>Mis viajes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mensajes">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Mensajes</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>