<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-row>
      <ion-col>
        <ion-button [color]="focusCerca" expand="full" (ionFocus)="clickCercanos()">Cercanos</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  [color]="focusPreferido" expand="full" (ionFocus)="clickPreferidos()">Preferidos</ion-button>
      </ion-col>
    </ion-row>


  </ion-list>

  <div *ngIf="clCercanos">


  </div>

  <div *ngIf="clPreferidos">

    

  </div>

</ion-content>
