<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- Default Segment -->
  <!-- Label only -->
  <ion-segment (ionChange)="segmentChanged($event)" value="todos">
    <ion-segment-button value="prferidos">
      <ion-label>Preferidos</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="cercanos">
      <ion-label>Cercanos</ion-label>
      <ion-icon name="alarm"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list>

    <!--
    <ion-button (click)="enviarMensaje()">
      Enviar
    </ion-button>

    <ion-button (click)="salir()">
      Salir
    </ion-button>
-->
    <div *ngIf="pilotosMostrar.length > 0">

      <ion-item-sliding   *ngFor="let item of pilotosMostrar">

        <ion-item (click)="abrirChat(item)">
          <ion-avatar slot="start">
            <img [src]="urlAvatar">
          </ion-avatar>
          <ion-label>
            <h2><b>{{item.usuario.persona.nombres}} {{item.usuario.persona.apellidos}}</b></h2>
            <p>{{item.distancia}} metros</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="light" (click)="solicitarViaje(item)">Solicitar <ion-icon name="car"
              style="padding-left: 5px;"></ion-icon>
          </ion-item-option>
          <ion-item-option color="medium" (click)="hacerFavorito(item)">Favorito <ion-icon name="heart"
              style="padding-left: 5px;"></ion-icon>
          </ion-item-option>
          <ion-item-option color="primary" (click)="verPerfilPiloto(item)">Perfil <ion-icon name="person"
            style="padding-left: 5px;"></ion-icon>
        </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>

     

    </div>

    <div *ngIf="pilotosMostrar.length == 0" class="ion-padding">
      <p>{{mensajeMostrarLista}}</p>
    </div>
    <!--
    <ion-row>
      <ion-col>
        <ion-button [color]="focusCerca" expand="full" (ionFocus)="clickCercanos()">Cercanos</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  [color]="focusPreferido" expand="full" (ionFocus)="clickPreferidos()">Preferidos</ion-button>
      </ion-col>
    </ion-row>
-->

  </ion-list>


</ion-content>