<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- Default Segment -->
  <!-- Label only -->
  <ion-segment (ionChange)="segmentChanged($event)" value="todos">
    <ion-segment-button value="prferidos">
      <ion-label>Preferidos</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="cercanos">
      <ion-label>Cercanos</ion-label>
      <ion-icon name="alarm"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list>

    <ion-button (click)="enviarMensaje()">
      Enviar
    </ion-button>

    <ion-button (click)="salir()">
      Salir
    </ion-button>

    <ion-item (click)="abrirChat(1)" *ngFor="let item of pilotos">
      <ion-avatar slot="start">
        <img [src]="urlAvatar">
      </ion-avatar>
      <ion-label>
        <h2><b>{{item.usuario.id}} {{item.usuario.persona.nombres}} {{item.usuario.persona.apellidos}}</b></h2>
        <p>{{item.usuario.persona.direccion}}</p>
      </ion-label>
    </ion-item>
    <!--
    <ion-row>
      <ion-col>
        <ion-button [color]="focusCerca" expand="full" (ionFocus)="clickCercanos()">Cercanos</ion-button>
      </ion-col>

      <ion-col>
        <ion-button  [color]="focusPreferido" expand="full" (ionFocus)="clickPreferidos()">Preferidos</ion-button>
      </ion-col>
    </ion-row>
-->

  </ion-list>


</ion-content>
