<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <div style="margin-top: 10px;">
      <ion-avatar class="centrar ion-activatable" (click)="cambiarFoto()">
        <img src="../../../../assets/icon/usuario.svg">
        <ion-ripple-effect  type="unbounded"></ion-ripple-effect>
      </ion-avatar>
      
    </div>


  </ion-list>

</ion-content>