<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-text class="ion-text-center" color="primary">
    <h4>Ubicación de mototaxis</h4>
  </ion-text>
  <ion-text>
    <ion-label>Id: {{ubicacion.id}}</ion-label>
  </ion-text>
  <div>
    <ion-text>
      <ion-label>Velocidad {{velocidad }} m/s </ion-label>
    </ion-text>
  </div>
  <ion-button color="primary" (click)="salir()" expand="full">Salir</ion-button>
  <ion-button color="secondary" (click)="ver()" expand="full">Ver</ion-button>

  <div id='mapa' style="height: 80%;"></div>
</ion-content>