<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <app-toolbar></app-toolbar>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="margin-left: 10px">
    <b>Lat:</b> {{location.latitud | number:'1.2-4'}},
    <b>Lng:</b> {{location.longitud | number:'1.2-4'}}
  </p>

  <ion-content>
    <div id="mapa" style="height: 100%"></div>
  </ion-content>
</ion-content>
